.home {
    height: 100vh;
    background: linear-gradient(45deg, #02001f, #000215);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 10px 0px;
}

.home>div{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.home .container{
    height: 100%;
}

.messages {
    max-width: 800px;
    background-color: #26283e5e;
    color: white;
    overflow-y: auto;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.sent{
    background-color: #3c7a3c;
}

.received{
    background: #622765;
}

.sent,
.received {
    margin: 5px 10px;
    border: 2px solid black;
    border-radius: 5px;
    max-width: 70%;
    width: fit-content;
    padding: 5px 10px;
}

.sent span, .received span{
    font-size: 16px;
    font-weight: 500;
}

.sent {
    align-self: flex-end;
}

.received {
    align-self: flex-start;
}

.send {
    display: flex;
    align-items: center;
    max-width: 800px;
    margin: 0px auto;
    width: 100%;
}

.send input {
    padding: 5px 10px;
    outline: none;
    border-radius: 5px;
    border: 1px solid black;
    width: 100%;
    background: #1d1134;
    color: white;
    height: 100%;
}

.submit {
    width: fit-content !important;
    height: fit-content !important;
    border-radius: 5px!important;
}

.joinMessage {
    margin: 2px auto;
    padding: 5px;
    border-radius: 20px;
    font-size: 15px;
    font-weight: 500;
    font-style: italic;
}

.logo{
    color: white;
    font-size: 30px;
    text-align: center;
    padding: 10px;
}

.online{
    background: #540e72d9;
    border-radius: 5px;
    position: absolute;
    font-size: 20px;
    max-height: 80%;
    max-width: 70%;
    overflow-y: auto;
    overflow-x: visible;
    min-width: 20px;
}

.users{
    width: 0px;
    height: 0px;
    max-width: inherit;
    transition: 0.5s all ease-in-out;
    color: white;
    overflow: hidden;
    margin: 20px 0px 0px 10px;
}
    
#onlineBtn{
    border-radius: 59%;
    background: #0dff00;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 0;
    cursor: pointer;
}